USE [KutuphaneDB]
GO
ALTER TABLE [dbo].[Rezervasyonlar] DROP CONSTRAINT [FK_Rezervasyonlar_Kullanici]
GO
ALTER TABLE [dbo].[Rezervasyonlar] DROP CONSTRAINT [FK_Rezervasyonlar_Kitap]
GO
ALTER TABLE [dbo].[OduncIslemleri] DROP CONSTRAINT [FK_OduncIslemleri_Kullanici]
GO
ALTER TABLE [dbo].[OduncIslemleri] DROP CONSTRAINT [FK_OduncIslemleri_Kopya]
GO
ALTER TABLE [dbo].[Kullanicilar] DROP CONSTRAINT [FK_Kullanicilar_Roller]
GO
ALTER TABLE [dbo].[KitapYorumlari] DROP CONSTRAINT [FK__KitapYoru__Kulla__51300E55]
GO
ALTER TABLE [dbo].[KitapYorumlari] DROP CONSTRAINT [FK__KitapYoru__Kitap__503BEA1C]
GO
ALTER TABLE [dbo].[KitapYazarlari] DROP CONSTRAINT [FK_KitapYazarlari_Yazar]
GO
ALTER TABLE [dbo].[KitapYazarlari] DROP CONSTRAINT [FK_KitapYazarlari_Kitap]
GO
ALTER TABLE [dbo].[Kitaplar] DROP CONSTRAINT [FK_Kitaplar_Yayinevleri]
GO
ALTER TABLE [dbo].[Kitaplar] DROP CONSTRAINT [FK_Kitaplar_KitapKategorileri]
GO
ALTER TABLE [dbo].[KitapKopyalari] DROP CONSTRAINT [FK_KitapKopyalari_Kitaplar]
GO
ALTER TABLE [dbo].[KitapIstekleri] DROP CONSTRAINT [FK__KitapIste__Kulla__6442E2C9]
GO
ALTER TABLE [dbo].[KitapIstekleri] DROP CONSTRAINT [FK__KitapIste__Kitap__65370702]
GO
ALTER TABLE [dbo].[KitapFavoriler] DROP CONSTRAINT [FK_Fav_User]
GO
ALTER TABLE [dbo].[KitapFavoriler] DROP CONSTRAINT [FK_Fav_Book]
GO
ALTER TABLE [dbo].[Kategoriler] DROP CONSTRAINT [FK_Kategoriler_UstKategori]
GO
ALTER TABLE [dbo].[FavoriKitaplar] DROP CONSTRAINT [FK__FavoriKit__Kulla__7755B73D]
GO
ALTER TABLE [dbo].[FavoriKitaplar] DROP CONSTRAINT [FK__FavoriKit__Kitap__7849DB76]
GO
ALTER TABLE [dbo].[Cezalar] DROP CONSTRAINT [FK_Cezalar_Odunc]
GO
ALTER TABLE [dbo].[Rezervasyonlar] DROP CONSTRAINT [DF__Rezervasy__Durum__6383C8BA]
GO
ALTER TABLE [dbo].[Rezervasyonlar] DROP CONSTRAINT [DF__Rezervasy__Rezer__628FA481]
GO
ALTER TABLE [dbo].[OduncIslemleri] DROP CONSTRAINT [DF__OduncIsle__IadeE__5812160E]
GO
ALTER TABLE [dbo].[OduncIslemleri] DROP CONSTRAINT [DF__OduncIsle__AlisT__571DF1D5]
GO
ALTER TABLE [dbo].[Kullanicilar] DROP CONSTRAINT [DF__Kullanici__Avata__3A4CA8FD]
GO
ALTER TABLE [dbo].[Kullanicilar] DROP CONSTRAINT [DF__Kullanici__Olust__3C69FB99]
GO
ALTER TABLE [dbo].[Kullanicilar] DROP CONSTRAINT [DF__Kullanici__Aktif__3B75D760]
GO
ALTER TABLE [dbo].[KitapYorumlari] DROP CONSTRAINT [DF__KitapYoru__Yorum__4F47C5E3]
GO
ALTER TABLE [dbo].[KitapKopyalari] DROP CONSTRAINT [DF__KitapKopy__Durum__0C50D423]
GO
ALTER TABLE [dbo].[KitapKopyalari] DROP CONSTRAINT [DF__KitapKopy__Durum__4BAC3F29]
GO
ALTER TABLE [dbo].[KitapIstekleri] DROP CONSTRAINT [DF__KitapIste__Durum__634EBE90]
GO
ALTER TABLE [dbo].[KitapIstekleri] DROP CONSTRAINT [DF__KitapIste__Talep__625A9A57]
GO
ALTER TABLE [dbo].[KitapFavoriler] DROP CONSTRAINT [DF__KitapFavo__Tarih__2A164134]
GO
ALTER TABLE [dbo].[IslemLoglari] DROP CONSTRAINT [DF__IslemLogl__LogTa__6B24EA82]
GO
ALTER TABLE [dbo].[FavoriKitaplar] DROP CONSTRAINT [DF__FavoriKit__Eklem__76619304]
GO
ALTER TABLE [dbo].[Cezalar] DROP CONSTRAINT [DF__Cezalar__OdendiM__5EBF139D]
GO
ALTER TABLE [dbo].[Cezalar] DROP CONSTRAINT [DF__Cezalar__CezaTar__5DCAEF64]
GO
/****** Object:  Index [UQ__SistemAy__5A3BC87D78A80C8D]    Script Date: 26.12.2025 21:41:13 ******/
ALTER TABLE [dbo].[SistemAyarlari] DROP CONSTRAINT [UQ__SistemAy__5A3BC87D78A80C8D]
GO
/****** Object:  Index [UQ__Roller__85F2635D9AAAA901]    Script Date: 26.12.2025 21:41:13 ******/
ALTER TABLE [dbo].[Roller] DROP CONSTRAINT [UQ__Roller__85F2635D9AAAA901]
GO
/****** Object:  Index [UQ__Kullanic__A9D105342202BAA7]    Script Date: 26.12.2025 21:41:13 ******/
ALTER TABLE [dbo].[Kullanicilar] DROP CONSTRAINT [UQ__Kullanic__A9D105342202BAA7]
GO
/****** Object:  Index [UQ__Kitaplar__447D36EAC8379B57]    Script Date: 26.12.2025 21:41:13 ******/
ALTER TABLE [dbo].[Kitaplar] DROP CONSTRAINT [UQ__Kitaplar__447D36EAC8379B57]
GO
/****** Object:  Index [UQ__KitapKop__CBC7D8CD0CFEC401]    Script Date: 26.12.2025 21:41:13 ******/
ALTER TABLE [dbo].[KitapKopyalari] DROP CONSTRAINT [UQ__KitapKop__CBC7D8CD0CFEC401]
GO
/****** Object:  Index [UQ_Fav]    Script Date: 26.12.2025 21:41:13 ******/
ALTER TABLE [dbo].[KitapFavoriler] DROP CONSTRAINT [UQ_Fav]
GO
/****** Object:  Index [UQ_User_Book]    Script Date: 26.12.2025 21:41:13 ******/
ALTER TABLE [dbo].[FavoriKitaplar] DROP CONSTRAINT [UQ_User_Book]
GO
/****** Object:  Index [UQ__Cezalar__5713F2D4651CF2B0]    Script Date: 26.12.2025 21:41:13 ******/
ALTER TABLE [dbo].[Cezalar] DROP CONSTRAINT [UQ__Cezalar__5713F2D4651CF2B0]
GO
/****** Object:  Table [dbo].[Yazarlar]    Script Date: 26.12.2025 21:41:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Yazarlar]') AND type in (N'U'))
DROP TABLE [dbo].[Yazarlar]
GO
/****** Object:  Table [dbo].[Yayinevleri]    Script Date: 26.12.2025 21:41:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Yayinevleri]') AND type in (N'U'))
DROP TABLE [dbo].[Yayinevleri]
GO
/****** Object:  Table [dbo].[SistemAyarlari]    Script Date: 26.12.2025 21:41:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SistemAyarlari]') AND type in (N'U'))
DROP TABLE [dbo].[SistemAyarlari]
GO
/****** Object:  Table [dbo].[Roller]    Script Date: 26.12.2025 21:41:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roller]') AND type in (N'U'))
DROP TABLE [dbo].[Roller]
GO
/****** Object:  Table [dbo].[Rezervasyonlar]    Script Date: 26.12.2025 21:41:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rezervasyonlar]') AND type in (N'U'))
DROP TABLE [dbo].[Rezervasyonlar]
GO
/****** Object:  Table [dbo].[OduncIslemleri]    Script Date: 26.12.2025 21:41:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OduncIslemleri]') AND type in (N'U'))
DROP TABLE [dbo].[OduncIslemleri]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 26.12.2025 21:41:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Kullanicilar]') AND type in (N'U'))
DROP TABLE [dbo].[Kullanicilar]
GO
/****** Object:  Table [dbo].[KitapYorumlari]    Script Date: 26.12.2025 21:41:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KitapYorumlari]') AND type in (N'U'))
DROP TABLE [dbo].[KitapYorumlari]
GO
/****** Object:  Table [dbo].[KitapYazarlari]    Script Date: 26.12.2025 21:41:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KitapYazarlari]') AND type in (N'U'))
DROP TABLE [dbo].[KitapYazarlari]
GO
/****** Object:  Table [dbo].[Kitaplar]    Script Date: 26.12.2025 21:41:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Kitaplar]') AND type in (N'U'))
DROP TABLE [dbo].[Kitaplar]
GO
/****** Object:  Table [dbo].[KitapKopyalari]    Script Date: 26.12.2025 21:41:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KitapKopyalari]') AND type in (N'U'))
DROP TABLE [dbo].[KitapKopyalari]
GO
/****** Object:  Table [dbo].[KitapKategorileri]    Script Date: 26.12.2025 21:41:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KitapKategorileri]') AND type in (N'U'))
DROP TABLE [dbo].[KitapKategorileri]
GO
/****** Object:  Table [dbo].[KitapIstekleri]    Script Date: 26.12.2025 21:41:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KitapIstekleri]') AND type in (N'U'))
DROP TABLE [dbo].[KitapIstekleri]
GO
/****** Object:  Table [dbo].[KitapFavoriler]    Script Date: 26.12.2025 21:41:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KitapFavoriler]') AND type in (N'U'))
DROP TABLE [dbo].[KitapFavoriler]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 26.12.2025 21:41:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Kategoriler]') AND type in (N'U'))
DROP TABLE [dbo].[Kategoriler]
GO
/****** Object:  Table [dbo].[IslemLoglari]    Script Date: 26.12.2025 21:41:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IslemLoglari]') AND type in (N'U'))
DROP TABLE [dbo].[IslemLoglari]
GO
/****** Object:  Table [dbo].[FavoriKitaplar]    Script Date: 26.12.2025 21:41:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FavoriKitaplar]') AND type in (N'U'))
DROP TABLE [dbo].[FavoriKitaplar]
GO
/****** Object:  Table [dbo].[Durumlar]    Script Date: 26.12.2025 21:41:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Durumlar]') AND type in (N'U'))
DROP TABLE [dbo].[Durumlar]
GO
/****** Object:  Table [dbo].[Cezalar]    Script Date: 26.12.2025 21:41:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cezalar]') AND type in (N'U'))
DROP TABLE [dbo].[Cezalar]
GO
/****** Object:  Table [dbo].[Cezalar]    Script Date: 26.12.2025 21:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cezalar](
	[CezaID] [int] IDENTITY(1,1) NOT NULL,
	[OduncID] [int] NOT NULL,
	[Tutar] [decimal](10, 2) NOT NULL,
	[CezaTarihi] [datetime] NULL,
	[OdendiMi] [bit] NULL,
	[OdemeTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CezaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Durumlar]    Script Date: 26.12.2025 21:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Durumlar](
	[DurumID] [int] NOT NULL,
	[DurumAd] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DurumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavoriKitaplar]    Script Date: 26.12.2025 21:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriKitaplar](
	[FavoriID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[KitapID] [int] NOT NULL,
	[EklemeTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FavoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IslemLoglari]    Script Date: 26.12.2025 21:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IslemLoglari](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[Islem] [nvarchar](100) NULL,
	[TabloAdi] [nvarchar](50) NULL,
	[KayitID] [int] NULL,
	[Detaylar] [nvarchar](max) NULL,
	[LogTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 26.12.2025 21:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](50) NOT NULL,
	[UstKategoriID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KitapFavoriler]    Script Date: 26.12.2025 21:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KitapFavoriler](
	[FavoriID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[KitapID] [int] NOT NULL,
	[Tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FavoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KitapIstekleri]    Script Date: 26.12.2025 21:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KitapIstekleri](
	[IstekID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[KitapID] [int] NOT NULL,
	[TalepTarihi] [datetime] NULL,
	[Durum] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IstekID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KitapKategorileri]    Script Date: 26.12.2025 21:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KitapKategorileri](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KitapKopyalari]    Script Date: 26.12.2025 21:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KitapKopyalari](
	[KopyaID] [int] IDENTITY(1,1) NOT NULL,
	[KitapID] [int] NOT NULL,
	[Barkod] [nvarchar](50) NOT NULL,
	[Durum] [nvarchar](20) NULL,
	[RafKonumu] [nvarchar](50) NULL,
	[DurumID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KopyaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kitaplar]    Script Date: 26.12.2025 21:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kitaplar](
	[KitapID] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [nvarchar](20) NOT NULL,
	[KitapAdi] [nvarchar](200) NOT NULL,
	[YayineviID] [int] NULL,
	[YayinYili] [int] NULL,
	[Dil] [nvarchar](30) NULL,
	[SayfaSayisi] [int] NULL,
	[Aciklama] [nvarchar](max) NULL,
	[ResimURL] [nvarchar](1000) NULL,
	[Yazar] [nvarchar](255) NULL,
	[KategoriID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KitapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KitapYazarlari]    Script Date: 26.12.2025 21:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KitapYazarlari](
	[KitapID] [int] NOT NULL,
	[YazarID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KitapID] ASC,
	[YazarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KitapYorumlari]    Script Date: 26.12.2025 21:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KitapYorumlari](
	[YorumID] [int] IDENTITY(1,1) NOT NULL,
	[KitapID] [int] NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[YorumMetni] [nvarchar](max) NULL,
	[YorumTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[YorumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 26.12.2025 21:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SifreHash] [nvarchar](255) NOT NULL,
	[Telefon] [nvarchar](20) NULL,
	[RolID] [int] NOT NULL,
	[AktifMi] [bit] NULL,
	[OlusturmaTarihi] [datetime] NULL,
	[Avatar] [nvarchar](50) NULL,
	[Sifre] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OduncIslemleri]    Script Date: 26.12.2025 21:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OduncIslemleri](
	[OduncID] [int] IDENTITY(1,1) NOT NULL,
	[KopyaID] [int] NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[AlisTarihi] [datetime] NULL,
	[SonTeslimTarihi] [datetime] NOT NULL,
	[IadeTarihi] [datetime] NULL,
	[IadeEdildiMi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[OduncID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rezervasyonlar]    Script Date: 26.12.2025 21:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervasyonlar](
	[RezervasyonID] [int] IDENTITY(1,1) NOT NULL,
	[KitapID] [int] NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[RezervasyonTarihi] [datetime] NULL,
	[Durum] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[RezervasyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roller]    Script Date: 26.12.2025 21:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roller](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[RolAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SistemAyarlari]    Script Date: 26.12.2025 21:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SistemAyarlari](
	[AyarID] [int] IDENTITY(1,1) NOT NULL,
	[AyarAnahtari] [nvarchar](50) NOT NULL,
	[AyarDegeri] [nvarchar](max) NOT NULL,
	[Aciklama] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[AyarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yayinevleri]    Script Date: 26.12.2025 21:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yayinevleri](
	[YayineviID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NOT NULL,
	[IletisimBilgisi] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[YayineviID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yazarlar]    Script Date: 26.12.2025 21:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yazarlar](
	[YazarID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Ulke] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[YazarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cezalar] ON 

INSERT [dbo].[Cezalar] ([CezaID], [OduncID], [Tutar], [CezaTarihi], [OdendiMi], [OdemeTarihi]) VALUES (1, 1, CAST(25.00 AS Decimal(10, 2)), CAST(N'2025-12-13T15:40:36.670' AS DateTime), 0, NULL)
INSERT [dbo].[Cezalar] ([CezaID], [OduncID], [Tutar], [CezaTarihi], [OdendiMi], [OdemeTarihi]) VALUES (3, 8, CAST(1940.00 AS Decimal(10, 2)), CAST(N'2025-12-18T00:36:57.207' AS DateTime), 1, CAST(N'2025-12-19T21:07:38.793' AS DateTime))
INSERT [dbo].[Cezalar] ([CezaID], [OduncID], [Tutar], [CezaTarihi], [OdendiMi], [OdemeTarihi]) VALUES (4, 9, CAST(1790.00 AS Decimal(10, 2)), CAST(N'2025-12-18T00:36:59.390' AS DateTime), 1, CAST(N'2025-12-19T21:07:38.793' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cezalar] OFF
GO
INSERT [dbo].[Durumlar] ([DurumID], [DurumAd]) VALUES (1, N'Mevcut')
INSERT [dbo].[Durumlar] ([DurumID], [DurumAd]) VALUES (2, N'Ödünçte')
INSERT [dbo].[Durumlar] ([DurumID], [DurumAd]) VALUES (3, N'Kayıp')
GO
SET IDENTITY_INSERT [dbo].[FavoriKitaplar] ON 

INSERT [dbo].[FavoriKitaplar] ([FavoriID], [KullaniciID], [KitapID], [EklemeTarihi]) VALUES (28, 4, 3, CAST(N'2025-12-25T13:42:56.237' AS DateTime))
INSERT [dbo].[FavoriKitaplar] ([FavoriID], [KullaniciID], [KitapID], [EklemeTarihi]) VALUES (34, 4, 54, CAST(N'2025-12-25T23:14:38.763' AS DateTime))
SET IDENTITY_INSERT [dbo].[FavoriKitaplar] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAdi], [UstKategoriID]) VALUES (1, N'Genel', NULL)
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[KitapIstekleri] ON 

INSERT [dbo].[KitapIstekleri] ([IstekID], [KullaniciID], [KitapID], [TalepTarihi], [Durum]) VALUES (2, 4, 3, CAST(N'2025-12-16T20:36:41.143' AS DateTime), N'Reddedildi')
INSERT [dbo].[KitapIstekleri] ([IstekID], [KullaniciID], [KitapID], [TalepTarihi], [Durum]) VALUES (3, 4, 47, CAST(N'2025-12-17T19:01:13.407' AS DateTime), N'Onaylandi')
INSERT [dbo].[KitapIstekleri] ([IstekID], [KullaniciID], [KitapID], [TalepTarihi], [Durum]) VALUES (4, 5, 53, CAST(N'2025-12-17T20:24:40.017' AS DateTime), N'Onaylandi')
SET IDENTITY_INSERT [dbo].[KitapIstekleri] OFF
GO
SET IDENTITY_INSERT [dbo].[KitapKategorileri] ON 

INSERT [dbo].[KitapKategorileri] ([KategoriID], [KategoriAd]) VALUES (1, N'Roman')
INSERT [dbo].[KitapKategorileri] ([KategoriID], [KategoriAd]) VALUES (2, N'Tarih')
INSERT [dbo].[KitapKategorileri] ([KategoriID], [KategoriAd]) VALUES (3, N'Bilim')
SET IDENTITY_INSERT [dbo].[KitapKategorileri] OFF
GO
SET IDENTITY_INSERT [dbo].[KitapKopyalari] ON 

INSERT [dbo].[KitapKopyalari] ([KopyaID], [KitapID], [Barkod], [Durum], [RafKonumu], [DurumID]) VALUES (1, 1, N'TR-2024-0001', N'Musait', N'A-Blok Raf 3', NULL)
INSERT [dbo].[KitapKopyalari] ([KopyaID], [KitapID], [Barkod], [Durum], [RafKonumu], [DurumID]) VALUES (2, 3, N'TR-2025-002', N'Musait', N'B BLOK,RAF 4', NULL)
INSERT [dbo].[KitapKopyalari] ([KopyaID], [KitapID], [Barkod], [Durum], [RafKonumu], [DurumID]) VALUES (3, 4, N'BR-4-8137', N'Musait', N'R-5-7', NULL)
SET IDENTITY_INSERT [dbo].[KitapKopyalari] OFF
GO
SET IDENTITY_INSERT [dbo].[Kitaplar] ON 

INSERT [dbo].[Kitaplar] ([KitapID], [ISBN], [KitapAdi], [YayineviID], [YayinYili], [Dil], [SayfaSayisi], [Aciklama], [ResimURL], [Yazar], [KategoriID]) VALUES (1, N'978-1234567890', N'Python ile Kodlama', 1, 2024, N'Türkçe', 350, N'Harika bir kitap.', N'', N'Latif Buğra Kuru', 1)
INSERT [dbo].[Kitaplar] ([KitapID], [ISBN], [KitapAdi], [YayineviID], [YayinYili], [Dil], [SayfaSayisi], [Aciklama], [ResimURL], [Yazar], [KategoriID]) VALUES (3, N'978-1234567862', N'Nutuk', 1, 2024, N'Türkçe', 565, N'Ne mutlu Türküm diyene!', N'https://i.dr.com.tr/cache/500x400-0/originals/0000000325204-1.jpg', N'Mustafa Kemal Atatürk', 1)
INSERT [dbo].[Kitaplar] ([KitapID], [ISBN], [KitapAdi], [YayineviID], [YayinYili], [Dil], [SayfaSayisi], [Aciklama], [ResimURL], [Yazar], [KategoriID]) VALUES (4, N'9789753638029', N'Kürk Mantolu Madonna', 1, 1943, N'Türkçe', 160, N'Sabahattin Ali tarafından yazılmış harika bir eser.', N'https://img.kitapyurdu.com/v1/getImage/fn:1207631/wh:true/wi:500', N'Sabahattin Ali', 1)
SET IDENTITY_INSERT [dbo].[Kitaplar] OFF
GO
SET IDENTITY_INSERT [dbo].[KitapYorumlari] ON 

INSERT [dbo].[KitapYorumlari] ([YorumID], [KitapID], [KullaniciID], [YorumMetni], [YorumTarihi]) VALUES (24, 54, 1, N'harika bir kitap.', CAST(N'2025-12-22T10:16:08.940' AS DateTime))
SET IDENTITY_INSERT [dbo].[KitapYorumlari] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([KullaniciID], [Ad], [Soyad], [Email], [SifreHash], [Telefon], [RolID], [AktifMi], [OlusturmaTarihi], [Avatar], [Sifre]) VALUES (1, N'Ali Yusuf', N'Kuru', N'aliyusuf@mail.com', N'123456', N'05551234567', 1, 1, CAST(N'2025-12-13T15:05:26.080' AS DateTime), N'avatar1', N'scrypt:32768:8:1$qpQ1XKW4Fz4E3wXP$0343bedf4ade6c7de4663c2bd00777863f8d5d4c7d6f63c52edb6ea98efab37c1cab0339ae50339d7d5f31649e68abb9c93c0734929150c66ed0ae811e667c44')
INSERT [dbo].[Kullanicilar] ([KullaniciID], [Ad], [Soyad], [Email], [SifreHash], [Telefon], [RolID], [AktifMi], [OlusturmaTarihi], [Avatar], [Sifre]) VALUES (2, N'Veli', N'Öğrenci', N'veli@mail.com', N'$2b$12$Lsqu7Gf4TYx827XCHcLwquK7V33Mx5GQV.j5AswsifgNQEi505efe', N'05559998877', 3, 1, CAST(N'2025-12-13T15:32:47.260' AS DateTime), NULL, N'scrypt:32768:8:1$kTqAnOwX4jUMOSl4$497507d720b97ed9f532828f42a12890de469f1c1a46880a51e8d66485b90bbd8d9a5a450937a610b3cb9ccf24b67e755fff18915da39c7263191a76937bb8a4')
INSERT [dbo].[Kullanicilar] ([KullaniciID], [Ad], [Soyad], [Email], [SifreHash], [Telefon], [RolID], [AktifMi], [OlusturmaTarihi], [Avatar], [Sifre]) VALUES (3, N'Aynur ', N'Kuru', N'Aynur@mail.com', N'scrypt:32768:8:1$QWEris2cKi5w6qTE$b7c1aaa646cc9356f349f1a02c1379953141c19ede55b20af4fa39811c4250bffa478fd15f4d332b4db3a2176fc0130da1ade7173c5b57fe8ddbc874e6bd37e6', NULL, 3, 1, CAST(N'2025-12-13T17:56:03.427' AS DateTime), NULL, N'scrypt:32768:8:1$kTqAnOwX4jUMOSl4$497507d720b97ed9f532828f42a12890de469f1c1a46880a51e8d66485b90bbd8d9a5a450937a610b3cb9ccf24b67e755fff18915da39c7263191a76937bb8a4')
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[OduncIslemleri] ON 

INSERT [dbo].[OduncIslemleri] ([OduncID], [KopyaID], [KullaniciID], [AlisTarihi], [SonTeslimTarihi], [IadeTarihi], [IadeEdildiMi]) VALUES (1, 1, 2, CAST(N'2025-12-13T15:36:12.327' AS DateTime), CAST(N'2025-12-08T15:39:03.387' AS DateTime), CAST(N'2025-12-13T15:40:36.657' AS DateTime), 1)
INSERT [dbo].[OduncIslemleri] ([OduncID], [KopyaID], [KullaniciID], [AlisTarihi], [SonTeslimTarihi], [IadeTarihi], [IadeEdildiMi]) VALUES (2, 2, 4, CAST(N'2025-12-14T14:16:46.197' AS DateTime), CAST(N'2025-12-29T14:16:46.193' AS DateTime), CAST(N'2025-12-18T18:26:03.210' AS DateTime), 1)
INSERT [dbo].[OduncIslemleri] ([OduncID], [KopyaID], [KullaniciID], [AlisTarihi], [SonTeslimTarihi], [IadeTarihi], [IadeEdildiMi]) VALUES (3, 1, 3, CAST(N'2025-12-14T14:20:14.890' AS DateTime), CAST(N'2025-12-29T14:20:14.890' AS DateTime), CAST(N'2025-12-18T18:26:08.650' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[OduncIslemleri] OFF
GO
SET IDENTITY_INSERT [dbo].[Roller] ON 

INSERT [dbo].[Roller] ([RolID], [RolAdi]) VALUES (1, N'Admin')
INSERT [dbo].[Roller] ([RolID], [RolAdi]) VALUES (2, N'Personel')
INSERT [dbo].[Roller] ([RolID], [RolAdi]) VALUES (3, N'Uye')
SET IDENTITY_INSERT [dbo].[Roller] OFF
GO
SET IDENTITY_INSERT [dbo].[Yayinevleri] ON 

INSERT [dbo].[Yayinevleri] ([YayineviID], [Ad], [IletisimBilgisi]) VALUES (1, N'Genel Yayıncılık', NULL)
INSERT [dbo].[Yayinevleri] ([YayineviID], [Ad], [IletisimBilgisi]) VALUES (2, N'Yapı Kredi Yayınları', NULL)
INSERT [dbo].[Yayinevleri] ([YayineviID], [Ad], [IletisimBilgisi]) VALUES (3, N'Can Yayınları', NULL)
SET IDENTITY_INSERT [dbo].[Yayinevleri] OFF
GO
SET IDENTITY_INSERT [dbo].[Yazarlar] ON 

INSERT [dbo].[Yazarlar] ([YazarID], [Ad], [Soyad], [Ulke]) VALUES (1, N'Bilinmeyen', N'Yazar', NULL)
SET IDENTITY_INSERT [dbo].[Yazarlar] OFF
GO
/****** Object:  Index [UQ__Cezalar__5713F2D4651CF2B0]    Script Date: 26.12.2025 21:41:13 ******/
ALTER TABLE [dbo].[Cezalar] ADD UNIQUE NONCLUSTERED 
(
	[OduncID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_User_Book]    Script Date: 26.12.2025 21:41:13 ******/
ALTER TABLE [dbo].[FavoriKitaplar] ADD  CONSTRAINT [UQ_User_Book] UNIQUE NONCLUSTERED 
(
	[KullaniciID] ASC,
	[KitapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Fav]    Script Date: 26.12.2025 21:41:13 ******/
ALTER TABLE [dbo].[KitapFavoriler] ADD  CONSTRAINT [UQ_Fav] UNIQUE NONCLUSTERED 
(
	[KullaniciID] ASC,
	[KitapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KitapKop__CBC7D8CD0CFEC401]    Script Date: 26.12.2025 21:41:13 ******/
ALTER TABLE [dbo].[KitapKopyalari] ADD UNIQUE NONCLUSTERED 
(
	[Barkod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kitaplar__447D36EAC8379B57]    Script Date: 26.12.2025 21:41:13 ******/
ALTER TABLE [dbo].[Kitaplar] ADD UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kullanic__A9D105342202BAA7]    Script Date: 26.12.2025 21:41:13 ******/
ALTER TABLE [dbo].[Kullanicilar] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roller__85F2635D9AAAA901]    Script Date: 26.12.2025 21:41:13 ******/
ALTER TABLE [dbo].[Roller] ADD UNIQUE NONCLUSTERED 
(
	[RolAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SistemAy__5A3BC87D78A80C8D]    Script Date: 26.12.2025 21:41:13 ******/
ALTER TABLE [dbo].[SistemAyarlari] ADD UNIQUE NONCLUSTERED 
(
	[AyarAnahtari] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cezalar] ADD  DEFAULT (getdate()) FOR [CezaTarihi]
GO
ALTER TABLE [dbo].[Cezalar] ADD  DEFAULT ((0)) FOR [OdendiMi]
GO
ALTER TABLE [dbo].[FavoriKitaplar] ADD  DEFAULT (getdate()) FOR [EklemeTarihi]
GO
ALTER TABLE [dbo].[IslemLoglari] ADD  DEFAULT (getdate()) FOR [LogTarihi]
GO
ALTER TABLE [dbo].[KitapFavoriler] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[KitapIstekleri] ADD  DEFAULT (getdate()) FOR [TalepTarihi]
GO
ALTER TABLE [dbo].[KitapIstekleri] ADD  DEFAULT ('Bekliyor') FOR [Durum]
GO
ALTER TABLE [dbo].[KitapKopyalari] ADD  DEFAULT ('Musait') FOR [Durum]
GO
ALTER TABLE [dbo].[KitapKopyalari] ADD  DEFAULT ((1)) FOR [DurumID]
GO
ALTER TABLE [dbo].[KitapYorumlari] ADD  DEFAULT (getdate()) FOR [YorumTarihi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT ('avatar1') FOR [Avatar]
GO
ALTER TABLE [dbo].[OduncIslemleri] ADD  DEFAULT (getdate()) FOR [AlisTarihi]
GO
ALTER TABLE [dbo].[OduncIslemleri] ADD  DEFAULT ((0)) FOR [IadeEdildiMi]
GO
ALTER TABLE [dbo].[Rezervasyonlar] ADD  DEFAULT (getdate()) FOR [RezervasyonTarihi]
GO
ALTER TABLE [dbo].[Rezervasyonlar] ADD  DEFAULT ('Aktif') FOR [Durum]
GO
ALTER TABLE [dbo].[Cezalar]  WITH CHECK ADD  CONSTRAINT [FK_Cezalar_Odunc] FOREIGN KEY([OduncID])
REFERENCES [dbo].[OduncIslemleri] ([OduncID])
GO
ALTER TABLE [dbo].[Cezalar] CHECK CONSTRAINT [FK_Cezalar_Odunc]
GO
ALTER TABLE [dbo].[FavoriKitaplar]  WITH CHECK ADD FOREIGN KEY([KitapID])
REFERENCES [dbo].[Kitaplar] ([KitapID])
GO
ALTER TABLE [dbo].[FavoriKitaplar]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Kategoriler]  WITH CHECK ADD  CONSTRAINT [FK_Kategoriler_UstKategori] FOREIGN KEY([UstKategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
GO
ALTER TABLE [dbo].[Kategoriler] CHECK CONSTRAINT [FK_Kategoriler_UstKategori]
GO
ALTER TABLE [dbo].[KitapFavoriler]  WITH CHECK ADD  CONSTRAINT [FK_Fav_Book] FOREIGN KEY([KitapID])
REFERENCES [dbo].[Kitaplar] ([KitapID])
GO
ALTER TABLE [dbo].[KitapFavoriler] CHECK CONSTRAINT [FK_Fav_Book]
GO
ALTER TABLE [dbo].[KitapFavoriler]  WITH CHECK ADD  CONSTRAINT [FK_Fav_User] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[KitapFavoriler] CHECK CONSTRAINT [FK_Fav_User]
GO
ALTER TABLE [dbo].[KitapIstekleri]  WITH CHECK ADD FOREIGN KEY([KitapID])
REFERENCES [dbo].[Kitaplar] ([KitapID])
GO
ALTER TABLE [dbo].[KitapIstekleri]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[KitapKopyalari]  WITH CHECK ADD  CONSTRAINT [FK_KitapKopyalari_Kitaplar] FOREIGN KEY([KitapID])
REFERENCES [dbo].[Kitaplar] ([KitapID])
GO
ALTER TABLE [dbo].[KitapKopyalari] CHECK CONSTRAINT [FK_KitapKopyalari_Kitaplar]
GO
ALTER TABLE [dbo].[Kitaplar]  WITH CHECK ADD  CONSTRAINT [FK_Kitaplar_KitapKategorileri] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[KitapKategorileri] ([KategoriID])
GO
ALTER TABLE [dbo].[Kitaplar] CHECK CONSTRAINT [FK_Kitaplar_KitapKategorileri]
GO
ALTER TABLE [dbo].[Kitaplar]  WITH CHECK ADD  CONSTRAINT [FK_Kitaplar_Yayinevleri] FOREIGN KEY([YayineviID])
REFERENCES [dbo].[Yayinevleri] ([YayineviID])
GO
ALTER TABLE [dbo].[Kitaplar] CHECK CONSTRAINT [FK_Kitaplar_Yayinevleri]
GO
ALTER TABLE [dbo].[KitapYazarlari]  WITH CHECK ADD  CONSTRAINT [FK_KitapYazarlari_Kitap] FOREIGN KEY([KitapID])
REFERENCES [dbo].[Kitaplar] ([KitapID])
GO
ALTER TABLE [dbo].[KitapYazarlari] CHECK CONSTRAINT [FK_KitapYazarlari_Kitap]
GO
ALTER TABLE [dbo].[KitapYazarlari]  WITH CHECK ADD  CONSTRAINT [FK_KitapYazarlari_Yazar] FOREIGN KEY([YazarID])
REFERENCES [dbo].[Yazarlar] ([YazarID])
GO
ALTER TABLE [dbo].[KitapYazarlari] CHECK CONSTRAINT [FK_KitapYazarlari_Yazar]
GO
ALTER TABLE [dbo].[KitapYorumlari]  WITH CHECK ADD FOREIGN KEY([KitapID])
REFERENCES [dbo].[Kitaplar] ([KitapID])
GO
ALTER TABLE [dbo].[KitapYorumlari]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Kullanicilar]  WITH CHECK ADD  CONSTRAINT [FK_Kullanicilar_Roller] FOREIGN KEY([RolID])
REFERENCES [dbo].[Roller] ([RolID])
GO
ALTER TABLE [dbo].[Kullanicilar] CHECK CONSTRAINT [FK_Kullanicilar_Roller]
GO
ALTER TABLE [dbo].[OduncIslemleri]  WITH CHECK ADD  CONSTRAINT [FK_OduncIslemleri_Kopya] FOREIGN KEY([KopyaID])
REFERENCES [dbo].[KitapKopyalari] ([KopyaID])
GO
ALTER TABLE [dbo].[OduncIslemleri] CHECK CONSTRAINT [FK_OduncIslemleri_Kopya]
GO
ALTER TABLE [dbo].[OduncIslemleri]  WITH CHECK ADD  CONSTRAINT [FK_OduncIslemleri_Kullanici] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[OduncIslemleri] CHECK CONSTRAINT [FK_OduncIslemleri_Kullanici]
GO
ALTER TABLE [dbo].[Rezervasyonlar]  WITH CHECK ADD  CONSTRAINT [FK_Rezervasyonlar_Kitap] FOREIGN KEY([KitapID])
REFERENCES [dbo].[Kitaplar] ([KitapID])
GO
ALTER TABLE [dbo].[Rezervasyonlar] CHECK CONSTRAINT [FK_Rezervasyonlar_Kitap]
GO
ALTER TABLE [dbo].[Rezervasyonlar]  WITH CHECK ADD  CONSTRAINT [FK_Rezervasyonlar_Kullanici] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Rezervasyonlar] CHECK CONSTRAINT [FK_Rezervasyonlar_Kullanici]
GO
